<div *ngIf="details" class="row">
  <div class="col-md-1 text-center">
    <img src="https://i-imgur-com.cdn.ampproject.org/i/s/i.imgur.com/jYM7rUx.gif">
  </div>
  <div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center" style="padding: 10px">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Giỏ hàng
        </h2>
      </div>
    </div>
    <div *ngFor="let detail of details" class="card" style="margin: auto">
      <div class="card-body row">
        <div class="col-md-2 text-center" style="display: inline">
          <input type="checkbox" [(ngModel)]="detail.status" (change)="getTotalAmount()"/>
          <img [src]=detail.product.productImg alt="{{detail.product.productName}}">
        </div>
        <div class="col-md-7" style="display: inline">
          <h5 class="card-title">{{detail.product.productName}}</h5>
          <i class="card-text">{{detail.product.productInfo.infoDescription}}</i>
        </div>
        <div class="col-md-3 text-center"
             style="gap: 10px; display: flex; flex-direction: column; justify-content: center">
          <div>
            <i class="fa fa-minus" aria-hidden="true" (click)="decreaseQuantity(detail.cartDetailId)"></i>
            <span>{{detail.quantity}}</span>
            <i class="fa fa-plus" aria-hidden="true" (click)="increaseQuantity(detail.cartDetailId)"></i>
          </div>
          <p>{{detail.quantity * detail.product.productPrice | currency: 'VND'}}</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body row">
        <div>
          <button *ngIf="details.length != 0" class="btn btn-outline-success" (click)="checkAll()">Chọn tất cả</button>
          <p *ngIf="details.length == 0" class="text-center">Giỏ hàng hiện đang trống</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mx-auto">
      <div class="card-header">
        <h5 class="text-center">
          <i class="fa fa-info" aria-hidden="true"></i>
          Thông tin đơn hàng
        </h5>
      </div>
      <div class="card-body">
        <table>
          <tr>
            <th>Tổng tiền:</th>
            <td>{{total|currency: 'VND'}}</td>
          </tr>
          <tr>
            <th>Mã giảm giá:</th>
            <td><input type="text" value="0X0001"></td>
          </tr>
          <tr>
            <th>Phí vận chuyển:</th>
            <td>{{shippingFee|currency:'VND'}}</td>
          </tr>
          <tr>
            <th>Thành tiền:</th>
            <td>{{total + shippingFee|currency:'VND'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <br/>
    <div class="card mx-auto">
      <div class="card-header text-center">
        <h5 class="text-center">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          Thông tin thanh toán
        </h5>
      </div>
      <div class="card-body">
        <form [formGroup]="rf" *ngIf="rf">
          <div class="form-group mb-3">
            <label>Họ và tên:</label>
            <input type="text" formControlName="receiverName" class="form-control">
          </div>
          <p class="text-danger" *ngIf="rf.controls.receiverName.touched && rf.controls.receiverName.errors?.required">Tên người nhận không thể để trống</p>
          <p class="text-danger" *ngIf="rf.controls.receiverName.touched && rf.controls.receiverName.errors?.pattern">Tên không đúng</p>
          <div class="form-group mb-3">
            <label>Địa chỉ:</label>
            <input type="text" formControlName="receiverAddress" class="form-control">
          </div>
          <p class="text-danger" *ngIf="rf.controls.receiverAddress.touched && rf.controls.receiverAddress.errors?.required">Địa chỉ không thể để trống</p>
          <div class="form-group mb-3">
            <label>Số điện thoại:</label>
            <input type="text" formControlName="receiverPhone" class="form-control">
          </div>
          <p class="text-danger" *ngIf="rf.controls.receiverPhone.touched && rf.controls.receiverPhone.errors?.required">Số điện thoại không thể để trống</p>
          <p class="text-danger" *ngIf="rf.controls.receiverPhone.touched && rf.controls.receiverPhone.errors?.pattern">Số điện thoại không đúng định dạng</p>
          <div class="form-group mb-3">
            <label>Địa chỉ:</label>
            <input type="text" formControlName="receiverEmail" class="form-control">
          </div>
          <p class="text-danger" *ngIf="rf.controls.receiverEmail.touched && rf.controls.receiverEmail.errors?.required">Email không thể để trống</p>
          <p class="text-danger" *ngIf="rf.controls.receiverEmail.touched && rf.controls.receiverEmail.errors?.email">Email không đúng định dạng</p>
        </form>
        <div class="form-group">
          <label>Hình thức thanh toán:</label>
          <div class="d-flex justify-content-evenly">
            <div>
              <input type="radio" class="form-radio" (click)="showCheckoutButton()" name="paymentMethod" id="directPayment"
                     value="direct" checked
                     tabindex="6">
              <label for="directPayment">Trực tiếp</label>
            </div>
            <div>
              <input type="radio" class="form-radio" (click)="showPaypalButton()" name="paymentMethod" id="onlinePayment"
                     value="online"
                     tabindex="7">
              <label for="onlinePayment">Paypal</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center d-flex justify-content-evenly">
        <button class="btn btn-secondary" (click)="save()" [disabled]="rf.invalid">Quay lại</button>
        <button [style.display]="displayCheckout" class="btn btn-success" (click)="checkout()" [disabled]="rf.invalid">Thanh toán</button>
        <a [style.display]="displayPaypal" href='https://www.paypal.com/vn/webapps/mpp/paypal-popup'><img src='https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-large.png' alt='Chấp nhận PayPal | Lớn' /></a>
      </div>
      <div id="paypal-buttons"></div>
    </div>
  </div>
  <div class="col-md-1">
    <img src="https://i-imgur-com.cdn.ampproject.org/i/s/i.imgur.com/jYM7rUx.gif">
  </div>
</div>
<br>
