<nav class="navbar navbar-expand-lg fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="" style="width: 200px; height: 100%">
    </a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Trang Chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Quản lý
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Quản lý kho</a></li>
            <li><a class="dropdown-item" href="#">Quản lý lương</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Khác...</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Thống kê</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"> Nhân sự</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"><i class="fas fa-question-circle"></i> Trợ giúp</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="ms-3 me-3 cart-icon">
          <i class="fa fa-shopping-cart fa-2x" style="color: #f0f0f0"></i>
          <span class="cart-item-count">0</span>
        </a>
        <a type="button" class="btn btn-outline-light mb-3 mb-lg-0 me-2">Đăng nhập</a>
        <a type="button" class="btn btn-outline-warning mb-3 mb-lg-0">Đăng ký</a>
        <!--                    <div class="user-profile">-->
        <!--                        <div class="user-profile__avatar-container">-->
        <!--                            <span class="user-profile__name">Xin chào, Vân</span>-->
        <!--                            <img class="user-profile__avatar" src="imgs/header/avatar.jpg" alt="User Avatar">-->
        <!--                            <div class="user-profile__options">-->
        <!--                                <a href="#" class="user-profile__option">View</a>-->
        <!--                                <a href="#" class="user-profile__option">Logout</a>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="user-profile">-->
        <!--                        <span class="user-profile__name">Xin chào, Vân</span>-->
        <!--                        <div class="user-profile__avatar-container">-->
        <!--                            <img class="user-profile__avatar" src="imgs/header/avatar.jpg" alt="User Avatar">-->
        <!--                            <div class="user-profile__options">-->
        <!--                                <a href="#" class="user-profile__option">View</a>-->
        <!--                                <a href="#" class="user-profile__option">Logout</a>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
      </div>
    </div>
  </div>
</nav>

