.user-select-none {
  user-select: none;
}

a {
  text-decoration: none;
  color: unset;
}

.review-star {
  color: #fdcc0d;
  font-size: 13px;
}

/* ===========
Product Single Card - Start
============= */
.product-single-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #cccccc40;
  transition: 0.5s ease-in;
  /*background:linear-gradient(#00b894,yellowgreen);*/
  /*!* background-color: red; *!*/
  /*color:#ffffff;*/
}

.product-single-card:hover {
  -webkit-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
  -moz-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
  box-shadow: 1px 1px 28.5px -7px #d6d6d6;
}

.product-single-card .product-info {
  padding: 15px 0 0 0;
}

.product-single-card .product-top-area {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.product-single-card .product-top-area .product-discount {
  position: static;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  padding: 5px 10px;
  user-select: none;
  z-index: 999;
}

.product-single-card .product-top-area .product-img {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.product-single-card .product-top-area .product-img .first-view {
  transition: 0.5s ease-in;
}

.product-single-card .product-top-area .product-img .hover-view {
  opacity: 0;
  transition: 0.5s ease-in;
}

.product-single-card .product-top-area:hover .product-img .first-view {
  opacity: 0;
  width: 0;
  height: 0;
}

.product-single-card .product-top-area:hover .product-img .hover-view {
  opacity: 100%;
  scale: 1.2;
}

.product-single-card .product-top-area .sideicons {
  position: absolute;
  right: 15px;
  display: grid;
  gap: 10px;
}

.product-single-card .product-top-area .sideicons .sideicons-btn {
  background-color: #fff;
  color: #00b894;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(60px);
  transition: 0.3s ease-in;
  -webkit-box-shadow: 1px 1px 28.5px -7px #dddddd;
  -moz-box-shadow: 1px 1px 28.5px -7px #dddddd;
  box-shadow: 1px 1px 28.5px -7px #dddddd;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:hover {
  color: #fff;
  background-color: #00b894;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(1) {
  transition-delay: 100ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(2) {
  transition-delay: 200ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(3) {
  transition-delay: 300ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(4) {
  transition-delay: 400ms;
}

.product-single-card .product-top-area:hover .sideicons .sideicons-btn {
  opacity: 100%;
  visibility: visible;
  transform: translateX(0);
}

.product-single-card .product-info .product-category {
  font-weight: 600;
  opacity: 60%;
}


.product-single-card .product-info .old-price,
.product-single-card .product-info .new-price {
  display: block;
  padding-right: 15px;
  letter-spacing: 1px;
}




.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


.modal.open {
  display: block;
}

.modal.open .modal-content {
  margin: 10% auto;
}

.object-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.object-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.object-info {
  flex: 1;
}

.object-name {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.object-description {
  margin-top: 8px;
  font-size: 16px;
}

.object-address {
  margin-top: 8px;
  font-size: 16px;
  width: 300px;
}

@media (max-width: 980px) {
  input[type="text"] {
    width: 140px;
  }
  input[type="date"] {
    width: 70px;
  }
  .position{
    width: 70px;
  }
}
.lds-ring {
  margin: 0 100px;
}
.modal-content{
  font-size: larger;


}
.search-container {
  padding: 8px 16px;
  border-radius: 15px;
  display: flex;
  border: 1px solid #00B894;

}
input[type="text"] {
  padding: 10px;
  border: none;
  outline: none;
  width: 140px;
  border-radius: 15px;
}
button[type="submit"] {
  width: 40px;
  height: 40px;
  background-color:#ffff;
  border: none;
  color: #00b894;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
}
.search-container:hover button[type="submit"]{
  background-color: #00b894;
  color: #ffff;
}

.form__filter {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.search-container {
  margin-right: 10px; /* Cách với phần tử bên phải */
}
input[type="date"] {
  padding: 10px;
  border: none;
  outline: none;
  width: 150px;
  border-radius: 15px;
}
.position{
  padding: 10px;
  border:none;
  outline: none;
  width: 150px;
  border-radius: 15px;
}
@media (max-width: 480px) {
  input[type="text"] {
    width: 75px;
  }
  input[type="date"] {
    width: 35px;
  }
  .position{
    width: 35px;
  }
  .modal-content{
    font-size: xx-small;

  }
  search-container{
    width: 70%;
  }

}
@media (max-width: 320px) {
  search-container{
    width: 70%;
  }
  input[type="text"] {
    width: 60px;
  }
  input[type="date"] {
    width: 40px;
  }
  .position{
    width: 40px;
  }

}
.btn-create{
  cursor: pointer;
  justify-content: flex-end;
  color: white;
  font-size: larger;
  text-align: center;
  background-color: #00b894;
  border-radius: 5px;
  width: 130px;

}





@media screen and (max-width: 1024px){
  input[type="text"] {
    width: 140px;
  }
  input[type="date"] {
    width: 70px;
  }
  .position{
    width: 70px;
  }
}
img{
  width: 170px;
  height: 250px;
}


.error{
  display: flex;
  justify-content: center;
  align-content: center;
  color: #00B894;
  font-size: large;
  margin: 30px 0px;
}
.modal-content{
  font-size: larger;
}
img{
  width: 170px;
  height: 160px;
  border-radius: 15px;
}
@media (max-width: 280px) {
  search-container{
    width: 100%;
  }
  input[type="text"] {
    width: 60px;
  }
  input[type="date"] {
    width: 40px;
  }
  .position{
    width: 40px;
  }

}
#close-modal-button{
  cursor: pointer;
  background-color: #00b894;
  border-color: #00b894;
  border-radius: 15px;
  color: #fefefe;
  text-align: center;
  width: 35px

}
